<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">


  <div class="profile__header-image-wrapper">
    <div class="profile__header-img">
      <img class="img" id="profileImage" (click)="clickProfile()" src="./assets/lise.jpg">
    </div>
  </div>



  <div class="modal-overlay" *ngIf="edit"></div>
  <div class="modal" *ngIf="edit">
    <div class="modal__header">
      <h2 class="modal__heading">Edit profile image</h2>
    </div>
    <div class="modal__content">
      <div class="row">
        <div class="col-md-6">
          <div class="margin-top-md">
            <angular-cropper #angularcropper [imageUrl]="'./assets/lise.jpg'" [cropperOptions]="cropperOptions"></angular-cropper>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Preview</h3>

          <div class="profile__header-img">
            <!-- USE A CANVAS TO SHOW THE EDITED IMAGE WHILE ITS BEING EDITED-->
            <!--<canvas style="border: 2px solid red;" #crop_canvas></canvas>-->
            <img src="{{base64String}}">

          </div>





        <div class="row margin-top-md">
            <div class="col-md-6 text-right">
              <button type="button" class="button button--secondary button--small" (click)="rotateLeft()">
                &#x293e;
              </button>
            </div>
            <div class="col-md-6">
              <button type="button" class="button button--secondary button--small" (click)="rotateRight()">
                &#10559;
              </button>
            </div>
            <div class="col-md-6">
              <button type="button" class="button button--secondary button--small" (click)="getCanvasData()">
                Get data
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="button button--secondary button--block" (click)="cancel()">
                Cancel
              </button>
            </div>
            <div class="col-md-6">
              <button type="button" class="button button--primary button--block" (click)="save()">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


